name: Python CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*"
      - "python/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/*"
      - "python/**"

defaults:
  run:
    working-directory: .

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage pytest

      - name: Run tests and collect coverage
        run: |
          coverage run -m pytest .
          coverage report -m
        env:
          CI: true

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      - name: Check code formatting with Ruff
        run: ruff format --check .

      - name: Run Ruff linters
        run: ruff check .
