name: Run golden tests and checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  test:
    name: tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

      - name: tests
        run: |
          poetry run coverage run -m pytest

      - name: Generate coverage report
        run: |
          poetry run coverage report
  lint:
    name: Ruff & MyPy checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

      - name: Run Ruff linter
        run: |
          poetry run ruff check .
      #
      #- name: Run MyPy type checks
      #  run: |
      #    poetry run mypy .